/* removing mapbox information on bottom */
.mapboxgl-control-container {
    display: none;
}
.main-header {
    z-index: 100;
    top: 1%;
    position: absolute;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}
.main-header-down {
    display: flex;
    justify-content: center;
}    
.map-component {
    z-index: -1;
}
.sidebar {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #4472a1;
    opacity: 90%;
}
.blur {
    
}