/* removing mapbox information on bottom */
.mapboxgl-control-container {
    display: none;
}
.main-header {
    z-index: 100;
    top: 1%;
    position: absolute;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}
.main-header-down {
    display: flex;
    justify-content: center;
}    
.map-component {
    z-index: -1;
}
.sidebar {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #4472a1;
    opacity: 90%;
    overflow-y: scroll;
}
/*.defibrilator-info .description {
    content: '';
    border-bottom: 2px #f6dd31;
}*/
.sidebar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
.sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.about {
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-top: 18%;
}
.about-map {
    z-index: -1;
    position: absolute;
    
}
.authors {
    background-color: #4472a1;
    opacity: 90%;
}
.description {
    color: #d0d0d0;
}